# Lines starting with '#' are considered comments.
# For syntax, see http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore 
processing/ftp_creds.php
application/constants.xqy
application/logs/activity.xml
data/*/*.xml
data/*/*.gz

# Ignore objects and archives.
.[bps]*

# Ignore any file named foo.txt.
# foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html

